@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-size:14px; font-family:"微软雅黑"; color:#565656;}
.dao {  background-color:#FBFBFB; width:100%; min-width:983px; border-bottom:1px solid #ddd;}
.first { width:983px; margin:0px auto; overflow:hidden; padding:2px 0; font-size:9px;}
.first h2{ font-weight:normal; float:left;}
.first p{ float:right;}
.first p span { margin-left:5px;}
/*logo*/
.logo { width:983px; margin:30px auto; overflow:hidden;}
.logo h1{ background:url(../image/10_06.gif) no-repeat 213px center; float:left; margin-right:50px; width:366px;}
.logo .text1{ outline: none; background:url(../image/10_009.gif) no-repeat 5px center; border:1px solid #00adef; height: 30px; margin-top:0;padding-left: 20px; color: #ccc;}
.logo .sub{outline:none ; border:none; background-color:#00adef; padding:0px 10px; color:#fff; font-size:14px; height:32px; margin-top:14px; cursor: pointer;}
.logo .tell{ float:right; color:#cc3433; font-size:30px; font-style:italic; font-weight:bold; margin-right:5px; background:url(../image/10_09.gif) no-repeat left center; padding-left:80px; margin-top:-30px;}


/*导航栏*/
.nav { width:100%; min-width:983px; background-color:#03F; overflow:hidden;}
.nav ul{ min-width:983px; padding-left:182px;}
.nav li{ list-style:none; float:left; padding:10px 30px; border-right:1px solid #309;}
.nav ul .shouye{ background-color:#00A2EA; border-left:none; border-right:1px solid #309;}
.nav a{ color:#FFF; text-decoration:none;}
.nav li:hover{ background-color:#00A2EA;}
.nav ul .last{ border-right:none;}
/*图片*/
.photo { margin:10px auto; width:983px;}

/*关于我们*/
.our { width:983px; margin:0 auto; overflow:hidden;}
.our .we{ width:746px; float:left;  border:1px solid #ddd;}
.we h3{ font-size:14px; font-family:"微软雅黑"; font-weight:normal; line-height:34px; border-bottom:1px solid #ddd; padding-left:10px; background-color:#FBFBFB;}
.we img{ float:left; padding:26px;}
.our .we p{ line-height:2em; text-indent:2em; margin-top:30px; font-size:12px; padding-right: 5px;}
/*右边*/
.right{ width:217px; border:1px solid #ddd; float:right;}
.right h3{ font-size:14px; font-family:"微软雅黑"; font-weight:normal; line-height:34px; border-bottom:1px solid #ddd; padding-left:10px; background-color:#FBFBFB;}
.right ul{ margin-bottom:20px;}
.right li{ padding-top:15px; padding-left:15px; list-style:none;}
.right .text, .pass{ width: 120px; }
.right .btn{ background-color:#06C; padding:5px 20px; border:none; color:#FFF;}
.right #btn{ margin-left:30px;}
/*产品展示*/
.list { width:983px; margin:0 auto; background:url(../image/10-001.gif); height:300px; padding:10px 0; margin-top:10px;}
.list .show{ width:963px; background-color:#FFF; height:280px; margin:0 auto;}
.list .show h3{ font-size:14px; font-family:"微软雅黑"; font-weight:normal; height:34px; line-height:34px; border-bottom:1px dashed #ddd; padding-left:10px;}
.list .show .mm{ float:right; margin-right:20px; font-size:12px;}
.list .left_1 { float:left; margin-top:90px; padding:10px;}
.list .right_1{ float:right; margin-top:90px; padding:10px;}
.list .box{ float:left; padding:10px 0;}
.list .box li{ float:left; border:1px solid #ddd; margin:30px 10px; list-style: none;}
/*主要内容*/
.main{ width:983px; margin:10px auto; border:#ddd 1px solid; overflow:hidden;}
.main .help{ width:340px; background:url(../image/10_47.gif) no-repeat right center; padding-right:10px; float:left; padding-top:10px; }
.main .help h3{ font-size:14px; font-family:"微软雅黑"; font-weight:normal; height:34px; line-height:34px; padding-left:10px;}
.main .help h3 a{ font-size:12px; float:right; margin-right:30px; color:#333; text-decoration:none;}
.main .help h3 a:hover{ color:#00C;}
.main .help dl{ border-top:1px dashed #ddd; padding:10px 20px; line-height:2em; font-size:12px; color:#333;}
.main .help dl a{ color:#333; text-decoration:none;}
.main .help dl a:hover{ color:#00C;}
.main .help dd{ padding:5px 0;}
.img{ float:right;background:	url(../../../../../../%E5%89%8D%E7%AB%AF%E8%AF%BE%E7%A8%8B/%E8%AF%BE%E5%A0%82%E6%95%99%E5%AD%A6%E6%A1%88%E4%BE%8B/BaiNa/images/10_023_23.gif) no-repeat;}
.new { width:580px; float:right; padding-top:10px; padding-right:20px; padding-bottom:30px;}
.new h3{ font-size:14px; font-family:"微软雅黑"; font-weight:normal; height:34px; line-height:34px; padding-left:10px; border-bottom:1px dashed #ddd;}
.new h3 a{ font-size:10px; float:right; margin-right:10px; text-decoration:none; color:#333; }
.new h3 a:hover{ color:#00C;}
.new dl{ overflow:hidden; border-bottom:1px dashed #ddd; padding:20px 0;}
.new dl dt img{ float:left; margin-right:20px; border:none;}
.new dl dd h4 a{ color:#0f68a2; font-weight:normal; text-decoration:none; color:#333;}
.new dl dd h4 a:hover{ color:#00C;}
.new dl dd p{ line-height:2em; margin-top:15px; text-indent:2em; font-size:12px;}

.new li{ line-height:1.5em; list-style:none;}
.new li a{ width:480px; display:inline-block; text-decoration:none; color:#333; font-size:12px; line-height:1.5em;}
.new li span{ font-size:12px; float:right;}
.new li a:hover{ color:#00C;}

.link{ width:983px; margin:0 auto; border:#ddd solid 1px; overflow:hidden; margin-bottom:20px;}
.link h3{font-size:14px; font-family:"微软雅黑"; font-weight:normal; line-height:34px; border-bottom:1px solid #ddd; padding-left:10px; background-color:#FBFBFB;}
.link li{ list-style:none; padding:20px 20px; float:left; color: #666;}

.bot{ width:983px; margin:0 auto; background:#06C; padding:10px 0; margin-bottom:20px; overflow:hidden;}
.bot ul{ width:650px; margin:0 auto;}
.bot li{ float:left; list-style:none; }
.bot a{ text-decoration:none; color:#FFF; font-size:12px; padding:0 15px; border-right:#FFF 1px solid;}
.bot .no{ border-right:none;}

.footer {  margin-bottom:50px; margin:20px 0; margin-left:320px;}
.footer h3{ 
	float:left; background:url(../../../../../../%E5%89%8D%E7%AB%AF%E8%AF%BE%E7%A8%8B/%E8%AF%BE%E5%A0%82%E6%95%99%E5%AD%A6%E6%A1%88%E4%BE%8B/BaiNa/images/10_03.gif) no-repeat; height:59px; width:213px; padding-right:50px; border-right:#999 1px solid;}
.footer p{ color:#333; font-size:12px; margin-left: 300px;}